<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.348018734764-heom9i50veg23ac1rdjfv706l2crlac2</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>Fonts provided by application</key>
			<array>
				<string>Poppins-Regular.ttf</string>
				<string>Poppins-SemiBold.ttf</string>
				<string>Poppins-Bold.ttf</string>
				<string>Poppins-Light.ttf</string>
				<string>Poppins-Medium.ttf</string>
				<string>Poppins-Italic.ttf</string>
				<string>Inter-Bold.ttf</string>
				<string>Inter-Light.ttf</string>
				<string>Inter-Medium.ttf</string>
				<string>Inter-Regular.ttf</string>
				<string>Inter-SemiBold.ttf</string>
				<string>eckhart-w05-display-extra-bold.otf</string>
				<string>Helvetica-Condensed-Light-Li.ttf</string>
				<string>Helvetica Bold.ttf</string>
				<string>Helvetica-Black-SemiBold.ttf</string>
				<string>Helvetica-Normal.ttf</string>
				<string>HelveticaInserat-Roman-SemiB.ttf</string>
				<string>HelveticaWorld-Regular.ttf</string>
				<string>HelvLight Regular.ttf</string>
				<string>HelveticaBQ-Medium.otf</string>
				<string>coolvetica compressed rg.ttf</string>
				<string>coolvetica condensed rg.ttf</string>
				<string>coolvetica crammed rg.ttf</string>
				<string>coolvetica rg.ttf</string>
			</array>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
			<key>UIWindowSceneSessionRoleExternalDisplayNonInteractive</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string></string>
					<key>UISceneConfigurationName</key>
					<string></string>
					<key>UISceneDelegateClassName</key>
					<string></string>
					<key>UISceneStoryboardFile</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
